// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2022 StarFive Technology Co., Ltd.
 * Copyright (C) 2022 Hal Feng <hal.feng@starfivetech.com>
 * Copyright (C) 2025 Icenowy Zheng <uwu@icenowy.me>
 */

/dts-v1/;
#include "jh7110-common.dtsi"
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	chassis-type = "tablet";

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		autorepeat;

		key-vol-down {
			label = "volume down key";
			debounce-interval = <10>;
			linux,input-type = <EV_KEY>;
			linux,code = <KEY_VOLUMEDOWN>;
			/* labeled as Vol+ in pinetab-v 2023 schematic */
			gpios = <&sysgpio 49 GPIO_ACTIVE_LOW>;
		};

		key-power {
			label = "power key";
			debounce-interval = <10>;
			linux,input-type = <EV_KEY>;
			linux,code = <KEY_POWER>;
			gpios = <&sysgpio 59 GPIO_ACTIVE_HIGH>;
		};

		switch-hall-sensor {
			label = "hall effect sensor";
			debounce-interval = <10>;
			linux,input-type = <EV_SW>;
			linux,code = <SW_TABLET_MODE>;
			gpios = <&sysgpio 40 GPIO_ACTIVE_LOW>;
		};
	};

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&sysgpio 35 GPIO_ACTIVE_HIGH>;
		priority = <160>;
	};

	leds {
		compatible = "gpio-leds";
		led-flash {
			gpios = <&sysgpio 55 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_WHITE>;
			function = LED_FUNCTION_FLASH;
			linux,default-trigger = "flash";
			label = "Camera Flash";
			power-supply = <&vcc_5v>;
		};
	};

	bat: battery {
		compatible = "simple-battery";
		charge-full-design-microamp-hours = <9800000>;
		voltage-max-design-microvolt = <4350000>;
		voltage-min-design-microvolt = <3000000>;
	};

	vcc_5v: regulator-vcc-5v {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&sysgpio 39 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		regulator-always-on;
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_wifi_3v3: vcc-wifi_3v3 {
		compatible = "regulator-fixed";
		enable-active-low;
		gpio = <&sysgpio 46 GPIO_ACTIVE_LOW>;
		regulator-boot-on;
		regulator-always-on;
		regulator-name = "wifi_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x20000000>;
			alignment = <0x0 0x1000>;
			alloc-ranges = <0x0 0x70000000 0x0 0x20000000>;
			linux,cma-default;
		};

		e24_mem: e24@c0000000 {
			reg = <0x0 0x6ce00000 0x0 0x1600000>;
		};

		xrp_reserved: xrpbuffer@f0000000 {
			reg = <0x0 0x69c00000 0x0 0x01ffffff
				0x0 0x6bc00000 0x0 0x00001000
				0x0 0x6bc01000 0x0 0x00fff000
				0x0 0x6cc00000 0x0 0x00001000>;
		};
	};
};

&i2c2 {
	touchscreen@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		interrupt-parent = <&sysgpio>;
		interrupts = <30 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		AVDD28-supply = <&vcc_3v3>;
		// VDDIO-supply = <&vdd1833_gpio>;
		irq-gpios = <&sysgpio 30 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&sysgpio 31 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&usb0 {
	dr_mode = "host";
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_pins>;
	status = "okay";
};

&usb_cdns3 {
	phys = <&usbphy0>, <&pciephy0>;
	phy-names = "cdns3,usb2-phy", "cdns3,usb3-phy";
};

&sysgpio {
	usb0_pins: usb0-0 {
		vbus-pins {
			pinmux = <GPIOMUX(25,  GPOUT_SYS_USB_DRIVE_VBUS,
					       GPOEN_ENABLE,
					       GPI_NONE)>;
			bias-disable;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		usb-pins {
			pinmux = <GPIOMUX(43, GPOUT_LOW,
					      GPOEN_DISABLE,
					      GPI_NONE)>;
			bias-disable;
		};
	};
};

&pcie0 {
        status = "okay";
};

